@keyframes logoAnimation {
    from {
        width: 25px;
        opacity: 0;
    }
    to {
        width: 475px;
        opacity: 1;
    }
    
}

#logo {
    animation-name: logoAnimation;
    animation-duration: 5s;
}

body {
    font-family: "Poppins", serif;
    background-color: #f1f1f1;
    background-image: url('../images/concrete_seamless.png');
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
}
  
.nav_links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a:visited {
    color: blue;
}
  
div .card > header {
    background: #288088;
    border: 2px solid #45ADAD;
    padding: 20px 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

div .card > header > h3 {
    margin-top: 0;
    text-align: center;
}


.card {
    border: none;
    flex-basis: 450px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.pricing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* margin: 0 100px; */
}
  
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
.gallery img {
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
    height: auto;
}

@media screen and (min-width: 900px) {

    header{
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .nav_links {
        flex-direction: row;
        justify-content: flex-end;
    }

    .pricing {
        flex-direction: row;
    }

    .card > header > h3{
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
    }

    .pricing .card {
        flex-basis: 275px;
    }

    body > header:first-child {
        position: sticky;
        top: 0;
        z-index: 999;
        background: white;
    }
}

@media (prefers-reduced-motion: reduce) {
    #logo {
      animation: none;
      width: 475px;
      opacity: 1;
    }
}

@media print {
    body {
      font-family: Arial, Helvetica;
      background-image: none;
    }

    header {
        flex: 1;
    }

    header nav {  
        width: 75%;
        flex: 1;
    }
  
    .nav_links {
        flex-direction: row;
        justify-content: space-between;
    }

    .pricing {
        flex-direction: row;
        flex-wrap: nowrap;
    }
  
    .pricing .card {
        flex: 1 1 325px;
        border: 2px solid #45ADDD;
    }
  
    #gallery, .gallery {
        display: none;
    }

    .card ul li:nth-child(2)::after {
        content: "\1F44D";
        display: inline-block;
    }

}
